.header-v2 .top-header {
  background-color: #000000;
  border-bottom: 1px solid rgb(221 221 221 / 42%);
  padding: 0;
  color: #fff;
  line-height: 20px;
}

.header-v2 .top-header .contact-header {
  z-index: 999;
  display: flex;
  align-items: center;
}

.header-v2 .top-header .contact-header p {
  font-size: 17px;
  font-weight: 400;
  padding: 20px 0;
  margin: 0;
}

.header-v2 .top-header .account-urls {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.header-v2 .top-header .account-urls .top-header-right-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-v2 .top-header .account-urls .enfti-social-link {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-right: 15px;
  list-style: none;
}

.header-v2 .top-header .account-urls .enfti-social-link li a {
  margin: 0 5px;
  cursor: pointer;
}

.header-v2 .top-header .account-urls .enfti-social-link li a i {
  color: #9b9b9b;
  margin-right: 5px;
}

.header-v2 .top-header .account-urls .enfti-social-link li a:hover i {
  color: #797979;
}

.header-v2 .top-header .account-urls .top-inquiry-button {
  background-image: linear-gradient(
    to right,
    #647ecb,
    #d01498,
    #d01498,
    #647ecb
  );
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  padding: 13px 25px;
  text-decoration: none;
  background-size: 300% 100%;
  overflow: visible;
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
  text-transform: uppercase;
}

.pdt--50 {
  padding-top: 50px;
}

.header-v2 .top-header .account-urls .top-inquiry-button:hover {
  background-size: 100% 300%;
}

.is_transparent #enefti-main-head {
  background: transparent !important;
  width: 100%;
  z-index: 200;
}

.end-header .logo a img {
  padding: 30px 0;
}

.end-header .menu-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  padding: 25px 0;
}

.end-header .menu-nav li {
  display: flex;
  padding: 10px 17px;
  align-items: center;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.end-header .menu-nav li.has-dropdown {
  position: relative;
}

.end-header .menu-nav li.has-dropdown .menu-dropdown {
  position: absolute;
  left: 15px;
  top: 140%;
  background: #fff;
  padding: 0;
  z-index: 9999;
  width: 220px;
  transition: all 0.4s ease;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

.end-header .menu-nav li.has-dropdown .menu-dropdown::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  left: 10%;
  top: -20px;
}

.end-header .menu-nav li.has-dropdown:hover .menu-dropdown {
  opacity: 1;
  visibility: inherit;
  transform: scale(1);
}

.end-header .menu-nav li.has-dropdown .menu-dropdown li:hover {
  color: #d01498;
}

.end-header .menu-nav li.has-dropdown .menu-dropdown li {
  color: #acacac;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  position: relative;
  padding: 15px;
}

.end-header .menu-nav li:hover {
  color: rgb(197, 197, 197);
}

.end-header .btn-end-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
  margin: 25px;
}

.end-header .btn-end-header .btn-search,
.btn-menu {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  margin-right: 20px;
  cursor: pointer;
}

.end-header .btn-end-header .btn-sign {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  margin-top: -1px;
}

.box-border {
  border-bottom: 1px solid rgb(221 221 221 / 42%);
}

.end-header .btn-end-header .btn-user {
  margin: 18px 10px;
}

.end-header .btn-end-header .btn-user i {
  background: linear-gradient(to right, #647ecb, #d01498);
  padding: 10px;
  color: #fff;
  border-radius: 50%;
  font-weight: 900;
}

.banner-content {
  background-image: url(../images/Main-slider_pattern.jpg);
  width: 100%;
  height: auto;
}

.entry-content img {
  max-width: 90%;
}

.vc_empty_space {
  height: 65px;
}

.entry-content .wpb_wrapper h2 {
  font-size: 55px;
  color: #fff;
  line-height: 1.2;
}

.entry-content .wpb_wrapper h2 span {
  background: linear-gradient(to right, #647ecb, #d01498);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.entry-content .wpb_wrapper p {
  color: #c4c4c4;
  font-weight: 400;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 25px;
}

.entry-content .wpb_wrapper a.btn-discover-entry {
  background-image: linear-gradient(
    to right,
    #647ecb,
    #d01498,
    #d01498,
    #647ecb
  );
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 15px 35px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
  overflow: visible;
}

.entry-content .wpb_wrapper a.btn-discover-entry:hover {
  background-size: 100% 300%;
}

/* start footer */
.has-footer-widgets {
  background: #000000;
}
.has-footer-widgets .top-footer {
  padding: 20px;
  border-bottom: 0.5px solid #505050;
}

.has-footer-widgets .top-footer .item img {
  width: 63%;
  display: block;
  margin: 0 auto;
  opacity: 0.7;
  transition: all 250ms ease;
}

.has-footer-widgets .top-footer .item img:hover {
  opacity: 1;
}

.has-footer-widgets .footer-coppyright {
  border-top: 0.5px solid #505050;
  padding: 20px 0;
}

.has-footer-widgets .footer-coppyright p {
  color: #fff;
  margin: 0;
  font-weight: 400;
  padding: 7px 0;
}

.has-footer-widgets .footer-coppyright p.coppyright {
  text-align: right;
}

.has-footer-widgets .container-footer {
  padding-top: 60px;
  padding-bottom: 70px;
}

.has-footer-widgets .container-footer .widget-text h3 {
  color: #fff;
  font-size: 21px;
  padding-bottom: 20px;
  margin: 0;
}

.has-footer-widgets .container-footer .widget-text p {
  color: #cccccc;
  padding-bottom: 20px;
  margin: 0;
}

.has-footer-widgets .container-footer .widget-text .social-media ul {
  list-style: none;
  display: flex;
  justify-items: center;
  padding: 0;
  margin: 0;
}

.has-footer-widgets .container-footer .widget-text .social-media ul li {
  margin-bottom: 3px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 5px;
  font-size: 25px;
  opacity: 0.9;
  color: #7f7f7f;
  cursor: pointer;
}

.has-footer-widgets .container-footer .widget-text .social-media ul li:hover {
  opacity: 1;
  color: #d01498;
}

.has-footer-widgets .container-footer .widget-text .menu-marketplace i {
  color: #8c8c8c;
  font-weight: 700;
  margin-right: 6px;
  opacity: 0.7;
  background: transparent;
}

.has-footer-widgets .container-footer .widget-text .menu-marketplace ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.has-footer-widgets .container-footer .widget-text .menu-marketplace ul li {
  font-size: 17px;
  font-weight: 400;
  color: #cccccc;
  line-height: 20px;
  margin-bottom: 10px;
}
.has-footer-widgets .container-footer .widget-text .input-group {
  position: relative;
}

.has-footer-widgets .container-footer .widget-text .input-group .input-email {
  border: 0;
  height: 45px;
  font-weight: 400;
  font-size: 14px;
  outline: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 25px rgb(0 0 0 / 10%);
  color: #606060;
  padding: 15px 25px;
  border-radius: 5px;
}

.has-footer-widgets .container-footer .widget-text .input-group .btn-email {
  position: absolute;
  top: 5px;
  padding: 5px;
  border-radius: 35px;
  right: 16px;
  font-weight: 400;
  display: block;
  border: none;
  outline: 0;
  color: transparent;
  background: #fff;
  transition: 0.3s;
  box-shadow: none;
}

.has-footer-widgets .container-footer .widget-text .input-group .btn-email i {
  color: #d01498;
  font-size: 24px;
}

.has-footer-widgets
  .container-footer
  .widget-text
  .input-group
  .btn-email
  i:hover {
  color: #000000;
}
/* end footer */

/* vc latest news  */

.pdb--50 {
  padding-bottom: 50px;
}

.latest-news {
  background: #fff;
}

.latest-news .blog-posts-wrapper {
  box-shadow: 0 0 25px rgb(0 0 0 / 10%);
  overflow: hidden;
  margin-bottom: 20px;
}

.latest-news .blog-posts-wrapper .blog-posts-image img {
  max-width: 100%;
  transition: 0.3s;
}

.latest-news .blog-posts-wrapper .blog-posts-head-content {
  padding: 25px 30px 10px;
}

.latest-news .blog-posts-wrapper .blog-posts-head-content .post-date {
  color: #999999;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.latest-news .blog-posts-wrapper .blog-posts-head-content .post-name {
  font-size: 21px;
  line-height: 1.5;
  font-weight: 600;
  margin-top: 10px;
}

.latest-news .blog-posts-wrapper .blog-posts-head-content p {
  line-height: 25px;
  font-size: 17px;
  color: #565656;
  font-weight: 400;
}

.latest-news .blog-posts-wrapper .blog-posts-image {
  position: relative;
}

.latest-news .blog-posts-wrapper .blog-posts-image .blog-post-button {
  position: absolute;
  display: flex;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
}

.latest-news
  .blog-posts-wrapper
  .blog-posts-image
  .blog-post-button
  .content-inside {
  width: 150px;
  margin: 0 auto;
  margin-top: 60px;
  font-weight: 600;
  align-self: center;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.latest-news
  .blog-posts-wrapper
  .blog-posts-image
  .blog-post-button
  .content-inside
  a {
  padding: 12px 15px;
  display: block;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);
  color: #fff;
  border-radius: 5px;
  background: linear-gradient(to right, #647ecb, #d01498);
  background-size: 300% 100%;
  transition: 0.3s;
}

.latest-news
  .blog-posts-wrapper
  .blog-posts-image:hover
  .blog-post-button
  .content-inside {
  margin-top: 0px;
}

.latest-news .blog-posts-wrapper .blog-posts-image:hover .blog-post-button {
  opacity: 1;
  visibility: inherit;
}

.latest-news .blog-posts-wrapper .blog-posts-image:hover img {
  filter: brightness(50%);
}


.latest-news .blog-posts-wrapper .blog-posts-image .blog-post-button a:hover {
  background-size: 100% 300%;
  cursor: pointer;
}

.mt-addons-title-subtile {
  margin-bottom: 25px;
}

.mt-addons-title-subtile h2 {
  color: #242424;
  font-size: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

/* vc latest news  */

/* hottest bids */

.vc-hottest-bids {
  background: #fff;
}

.vc-hottest-bids .product-wrapper {
  box-shadow: 0 0 25px rgb(0 0 0 / 10%);
  overflow: hidden;
  margin-bottom: 30px;
  padding: 20px;
  padding-bottom: 0px;
  transition: all 250ms ease-in-out 0s;
}

.vc-hottest-bids .product-wrapper .thumbnail-and-details {
  border-bottom: 0;
  overflow: hidden;
  position: relative;
}

.vc-hottest-bids .product-wrapper .thumbnail-and-details img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0 1rem;
  box-shadow: none;
}

.vc-hottest-bids .product-wrapper .thumbnail-and-details .thumbnail-product-button {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.vc-hottest-bids .product-wrapper .thumbnail-and-details .thumbnail-product-button .content-inside {
  width: 150px;
  margin: 0 auto;
  margin-top: 50px;
  font-weight: 600;
  align-self: center;
  transition: all 0.3s ease;
}

.vc-hottest-bids .product-wrapper .thumbnail-and-details .thumbnail-product-button a {
  padding: 12px 15px;
  display: block;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);
  color: #fff;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    #647ecb,
    #d01498,
    #d01498,
    #647ecb
  );
  background-size: 300% 100%;
  transition: 0.3s;
  font-size: 14px;
}

.vc-hottest-bids .product-wrapper .thumbnail-and-details .thumbnail-product-button a:hover {
  background-size: 100% 300%;
  cursor: pointer;
}

.vc-hottest-bids .product-wrapper .thumbnail-and-details .thumbnail-product-button .content-inside i {
  font-size: 14px;
  margin-right: 7px;
}

.vc-hottest-bids .product-items:hover .product-wrapper .thumbnail-and-details .thumbnail-product-button {
  opacity: 1;
  visibility: inherit;
}

.vc-hottest-bids .product-items:hover .product-wrapper .thumbnail-and-details .thumbnail-product-button .content-inside {
  margin-top: 0px;
}

.vc-hottest-bids .product-items .woocmmerce-title-metas .title-wishlist-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.vc-hottest-bids .product-items .woocmmerce-title-metas .title-wishlist-wrapper h3 {
  font-size: 17px;
  padding: 0;
  margin: 0;
  line-height: 22px;
  transition: 0.3s;
  font-weight: 600;
  width: 100%;
}

.vc-hottest-bids .product-items .woocmmerce-title-metas .title-wishlist-wrapper h3:hover {
  color: #d01498;
  cursor: pointer;
}

.vc-hottest-bids .product-items .woocmmerce-title-metas .title-wishlist-wrapper i:hover {
  color: #d01498;
  cursor: pointer;
}

.vc-hottest-bids .product-items .woocmmerce-title-metas .details-container {
  overflow: hidden;
  padding: 15px 5px 20px;
}

.vc-hottest-bids .product-items .woocmmerce-title-metas .details-container .name {
  display: block;
  font-size: 14px;
  color: #90909090;
}

.vc-hottest-bids .product-items .woocmmerce-title-metas .details-container .price {
  font-size: 15px;
  color: #222222;
  font-weight: 700;
}

.vc-hottest-bids .vs-tabs-list {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}

.vc-hottest-bids .vs-tabs-list .vs-tabs {
  margin: 0 10px;
}

.vc-hottest-bids .vs-tabs-list .vs-tabs  {
  padding: 10px 25px;
  background: transparent;
  font-weight: 400;
  border: 1px solid #ddd;
  color: #222222;
  border-radius: 5px;
  transition: 0.3s;
}

.vc-hottest-bids .vs-tabs-list .vs-tabs a {
  text-decoration: none;
}

.vc-hottest-bids .vs-tabs-list .vs-tabs:hover {
  color: #647ECB;
  border: 1px solid #647ECB;
  cursor: pointer;
}

.vc-hottest-bids .vs-tabs-list .vs-tabs.is-active {
  color: #647ECB;
  border: 1px solid #647ECB;
  text-decoration: none;
}

/* hottest bids */


/* media screen */
@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
  .end-header .btn-end-header {
    padding: 0;
    margin: 0;
  }
  .end-header .logo a img {
    padding: 18px 0;
  }
}
@media only screen and (max-width: 1024px) {
  .entry-content .wpb_wrapper h2 {
    font-size: 26px;
    line-height: 30px;
  }
  .vc-hottest-bids .vs-tabs-list {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 992px) {
  .entry-content img {
    max-width: 100%;
    justify-content: left;
  }
}

@media only screen and (max-width: 767px) {
  .header-v2 .top-header .account-urls {
    justify-content: center;
    margin-bottom: 20px;
  }
  .header-v2 .top-header .contact-header {
    justify-content: center;
  }
  .has-footer-widgets .footer-coppyright p.coppyright {
    display: none;
  }
  .has-footer-widgets .container-footer .widget-text {
    padding-bottom: 15px;
  }
  .has-footer-widgets .container-footer .widget-text h3 {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 479px) {
  .header-v2 .top-header .contact-header p {
    font-size: 14px;
  }
}
/* media screen */
